/*font-family: 'Freehand', cursive;*/
/*font-family : 'Prompt', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    
}
.img-me{
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    position: relative;
    inset: -40px 0 0 70%;
}
.slider-img{
    width: 97%;
    height: 70%;
    padding-left: 40px;
}
.btn-warning{
    background-color: #343a40 !important;
    border-color: #28a745 !important;
    color: #28a745 !important;
    font-weight: bold !important;
}
.btn-warning:hover{
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: white !important;
    font-weight: bold !important;
}
.footer-text{
    color: aliceblue;
}



